@using Acme.Web.Helpers
@model IEnumerable<Acme.Web.Models.CustomerModel>
@{ 
    ViewBag.Title = "Customers";
}

<div class="page-header" ng-controller="CustomerListController as vm">
    <h1>
        Customers
        <button class="btn btn-sm btn-primary pull-right" ng-click="vm.add()">New</button>
    </h1>
    <div ng-repeat="cust in vm.customers">
        <customer-details customer="cust" />
    </div>
</div>

@section Scripts
{
    <script>
        window.acmeApp.constant('CustomerModel', @Html.JsonFor(Model))
    </script>
}